.like-icon {
  transform-origin: center;
  cursor: pointer;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.sparks {
  opacity: 0;
}


.like-icon:hover .main-body {
  fill: #000;
  transition: fill 0.3s linear 0.05s;
}

.like-icon:hover .core {
  fill: #000;
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-main-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--heart-main-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-main-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-main-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--heart-main-color);
  transition: fill 0.3s linear;
}

.is-liked .heart {
  animation-name: heart;
  animation-delay: 0.1s;
  animation-duration: 0.3s;
  animation-direction: normal;
  transform-origin: center;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}

.is-liked .sparks {
  animation-name: sparks;
  animation-delay: 0.3s;
  animation-duration: 0.3s;
  animation-direction: normal;
  transform-origin: center;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}

@keyframes heart {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.15);
  }
}

@keyframes sparks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}