/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family-main);
  font-variation-settings: 'wght' var(--font-weight-text);
}

main {
  position: relative;
  margin-top: clamp(-395px, calc(-142px - 253 * (100vw - 375px) / 1065), -142px);
}

header {
  width: 100%;
  height: clamp(667px, calc(667px + (960 - 667) * (100vw - 375px) / (1440 - 375)), 960px);
  background: var(--background-pattern);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: var(--font-family-accent);
}

.header__content {
  width: clamp(100%, calc(100% - 40px), 700px);
  max-width: 700px;
  background-color: #FFF;
  border: 2px solid #000;
  min-height: clamp(323px, calc(323px + 41 * (100vw - 375px) / (1440 - 375)), 364px);
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.header__title-accent {
  margin-bottom: 20px;
  font-size: clamp(49px, calc(49px + 16 * (100vw - 375px) / 1065), 65px);
}

.header__title {
  text-transform: uppercase;
  font-size: clamp(14px, calc(14px + 9 * (100vw - 375px) / 1065), 23px);
}

.card {
  width: min(100%, 700px);
  max-width: 700px;
  background: #FFF;
  border: 2px solid #000;
  margin: 0 auto 50px;
  display: flex;
  flex-direction: column;
}

.card__title {
  font-family: var(--font-family-main);
  font-variation-settings: 'wght' var(--font-weight-title);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: clamp(4px, calc(4px - 1 * (100vw - 375px) / 1065), 4px);
  padding-bottom: clamp(3px, calc(6px - 3 * (100vw - 375px) / 1065), 6px);
}

.card__content {
  padding: var(--content-section-padding);
  font-variation-settings: 'wght' var(--font-weight-text);
  font-size: 18px;
  line-height: 21px;
  
}

.card-buttons {
  display: flex;
  justify-content: end;
}

.button {
  position: relative;
  background-color: transparent;
  overflow: hidden;
  z-index: 1;
}

.card__like-button {
  font-family: var(--font-family-accent);
  font-size: var(--button-font-size);
  border: 2px solid #000;
  padding: 12.5px auto;
  min-width: 130px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000;
  transition: translate 0.5s ease-in-out;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  translate: -100%;
  z-index: -1;
}


.button:hover::before {
  translate: 0;
}

.button__text {
  position: relative;
  transition: color 0.5s ease-in-out;
  transition-delay: 0s;
  color: #000;
}

.button:hover .button__text {
  color: #FFF;
}


.card__content-text:first-child {
  margin-bottom: var(--distance-between-paragraphs);
}

.card__content-text:nth-child(2) {
  margin-bottom: 25px;
}

.card-image-container {
  width: 100%;
  position: relative;
  padding-bottom: 100%;
}

.card-image {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

.filter-preparation {
  filter: sepia(0.6) brightness(0.9) contrast(1.1);
}

.filter-blank-sheet {
  filter: grayscale(0.8) brightness(1.2);
}

.filter-fear-of-failure .card-image {
  filter: hue-rotate(-20deg) saturate(1.4) contrast(1.3);
}

.filter-perfection .card-image {
  filter: contrast(1.5) brightness(1.1) saturate(1.2);
}

.filter-community .card-image {
  filter: sepia(0.4) brightness(1.05) hue-rotate(10deg);
}

.filter-detours .card-image {
  filter: 
    blur(0.8px) 
    sepia(0.3) 
    hue-rotate(15deg) 
    brightness(0.95) 
    contrast(1.2);
}

.filter-burnout .card-image {
  filter: grayscale(0.6) brightness(0.85) contrast(0.9);
}

.filter-now-here .card-image {
  filter: brightness(1.15) saturate(1.3) contrast(1.1);
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 2;
  font-family: var(--font-family-accent);
  font-size: 14px;
  color: var(--text-color);
  text-transform: uppercase;
  opacity: 50%;
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--stroke-color)) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--stroke-color);
  }
}

.save-button {
  display: flex;
  align-items: center;
  position: relative;
  width: clamp(306px, 335px, 335px);
  margin: 0 auto;
  gap: 9px;
  padding: auto 21px auto 0px;
  border: 2px solid #000;
  margin-bottom: 100px;
  font-family: var(--font-family-accent);
  font-weight: 400;
  font-size: 14px;
  z-index: 1;
}

footer button svg {
  width: 21px;
  margin-left: 10px;
}

#dialog {
  width: clamp(341px, 353px, 353px);
  height: 191px;
  border: 2px solid #000;
  padding: 30px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  
}

.dialog-ok-button {
  border: #000 2px solid;
  font-family: var(--font-family-accent);
}

.dialog-ok-button .dialog-text {
  transition: color 0.5s ease-in-out;
  color: #000;
}

.dialog-ok-button:hover .dialog-text {
  color: #FFF;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
}

.dialog-row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog-icon {
  flex-shrink: 0;
}

.dialog-text {
  font-family: var(--font-family-accent);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;

}

.dialog-actions {
  display: flex;
  justify-content: center;
}

.dialog-ok-button {
  border: 2px solid #000;
  font-family: var(--font-family-accent);
  font-size: 14px;
  padding: 10px 40px;
  text-transform: uppercase;
}


#dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

@media (max-width: 374px) {
  #dialog {
    width: calc(100vw - 20px);
    max-width: 341px;
  }

  .dialog-row {
    gap: 15px;
  }
  
  .dialog-icon svg {
    width: 20px;
    height: 20px;
  }
  
  .dialog-text {
    font-size: 10px;
  }
}

@media (width <= 376px) {
  .save-button {
    flex-direction: column;
    gap: 8px;
    padding-bottom: 14px;
  }
  
  footer button svg {
    width: 28px;
  }
}

