:root {
  --font-family-main: 'Inter', 'Arial', sans-serif;
  --font-family-accent: 'Press Start 2P', 'Courier New', monospace;

  --font-weight-text: 400;
  --font-weight-title: 700;

  --content-section-padding: 25px;
  --button-font-size: 14px;

  --distance-between-paragraphs: 27px;

  --stroke-color: #fff;
  --text-color: #000;

  --heart-main-color: #FF0000;
  --contour-color: #000;

  --background-pattern:
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.1%, #1a1a1a 100%);
}
